<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table border="2">
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Address</th>
            <th>Age</th>
            <th>Username</th>
            <th>Delete</th>
            <th>Edit</th>
        </tr>
        {% for i in a %}

        <tr>
            <td>{{i.id}}</td>
            <td>{{i.name}}</td>
            <td>{{i.address}}</td>
            <td>{{i.age}}</td>
            <td>{{i.username}}</td>
            <td><a href="{{url_for('delete',uid=i.id)}}">Delete</a></td>
            <td><a href="{{url_for('edit',eid=i.id)}}">Edit</a></td>

     
     
        </tr>
            {% endfor %}
    </table>
</body>
</html>